

header {
    width: 100%;
    position: fixed;
    background-color: #ddd;
    z-index: 100;

}

body {
    font-size: 12px;

}

body {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.topnav {
    list-style-type: none;
    text-align: center;
}
.topHead{
    background-color: #151725;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 230px;
    padding-right: 50px;
}
.topHead > div{
    color: white;
}
.fa-envelope,.fa-phone{
    color: #8cca8cf2 ;
}

.topHead {
    background-color: #151725;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 230px;
    padding-right: 50px;
}

.topHead>div {
    color: white;
}

.fa-envelope,
.fa-phone {
    color: #8cca8cf2;
}

.topnav p {
    font: 1.5em 'Poiret One', cursive;
    ;
    margin-left: -27em;
}


.lowHead>ul {


    margin: 10px;
    display: flex;
    padding-left: 145px;
}

.pageSelected>a {
    color: #5eb85e !important;
    font-weight: 600;
}

.ourLogo {

    height: 100px;
    width: 130px;
    background-color: #5eb85e;
    position: absolute;
    top: 0px;
    left: 60px;

    border-radius: 0px 0px 2px 2px;
}

.ourLogo>img {

    height: 50%;
    width: 50%;
    border-radius: 50% 50% 50% 50%;
    background-color: #ffffffde;
    padding: 10px;
    margin-top: 10px;

}


.ourLogo>div {

    padding-top: 5px;
}

.topnav ul li {
    font-family: 10em 'Poiret One', cursive;
    display: inline-block;
    list-style-type: none;
    padding: 3px;
    margin-left: 5em;



}

a:link {
    color: #616D76;
}

a:visited {
    color: #ff1dc5;
}

a:hover {
    color: #166F87;
}

a:active {
    color: #ff1eed;
}

main {
    min-height: 400px;
    background-color: #fff;
    padding-top: 80px;
}

.names {
    font: 9em;
    color: #166F87;
    text-align: center;

}

.date {
    font: 3em;
    text-align: center;

}

.wrapper {
    width: 980px;
    margin: auto;
    margin-top: 30px;
    font-family: 2em 'PT Sans Narrow', sans-serif;
    text-align: center;

}

.container #our_story {
    background-size: 100%;
}


.container .row img {
    border-radius: 50%;
    min-height: 200px;
}

.row {
    text-align: center;
}

.break_photos img {
    max-width: 75%;
    box-shadow: 5px 5px 5px gray;
    display: block;
    margin: auto;
    margin-bottom: 5em;
    min-height: 200px;
}


.hero{
    background-color: black;
}

.bigFont {
    font-size: 40px;
}

.getAppointBtn,.getDemoBtn {

    padding: 10px;
    background-color: #5eb85e;
    margin-top: 30px;
    margin-right: 185px;
    border-radius: 2px;
}

.getDemoBtn{
    margin-right: 0px !important;
}
.heroTxt {

    color: #ddd;
    position: absolute;
    /* align-items: baseline; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 100px;
}

.hero img {
    width: 100%;
    height: 445px;
    object-fit: cover;

}

.getDemo>img {
    object-fit: cover;
    width: 100%;
    height: 35pc;
}

.ourOfferings {
    color: #151725;
    background-color: #E2E7E1;
    padding: 40px 60px 80px 60px
}

.offeringsList>div>div {
    padding-top: 10px;
}

.offeringsList>div {
    width: 25%;
    padding: 10px 15px 10px 0px;
}

.hr-lines:before {
    content: " ";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 50%;
    background: #5eb85e;

}

.workingProcess>div>.hr-lines:before {
    right: 65px;
}

.hr-lines {
    position: relative;
}

.offersTitle {
    font-size: 14px;
}

.bold {
    font-weight: 600;
}

.offeringsList>div>div>i {
    color: #5eb85e;
    font-size: 20px;
}

.hr-lines {
    color: #5eb85e;
    font-size: 16px;
    position: relative;
    /*  new lines  */
    max-width: 150px;
    text-align: center;
}

.offeringsList {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.workingProcess {

    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    padding: 10px 20px;
    width: 80%;
    margin: -5% 10%;
}

.processDivs>div>div {
    margin-bottom: 10px;
}

.processDivs>div {
    padding: 15px 30px 10px 0px;
}

.num {
    background-color: #5eb85e;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

.workingProcess>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.topic {
    flex-direction: column;
    align-items: flex-start !important;
    padding-left: 60px;
}

.getDemo {
    background-color: black;
}

.demoTxt {
    position: absolute;
    top: 98em;
    /* left: 40%; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.btn-login{
    position: absolute;
    right: 10%;
    top :45px;
    background-color: #5eb85e;
    color: white;
    border-radius: 2px;
    padding: 5px 15px;
}

footer {
    height: 3em;
    background-color: #bdcbd9;
}

footer p {
    text-align: center;
    padding: 3em 0;
    font-family: 'Poiret One', cursive;
}